.ca {
    background-color: red;
}

.cb {
    background-color: orange;
}

.cc {
    background-color: yellow;
}

.cd {
    background-color: green;
}

.ce {
    background-color: blue;
}

.cf {
    background-color: indigo;
}

.cg {
    background-color: violet;
}